@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    background: url("images/bg-hero-desktop.svg");
    background-size: cover;
    background-position: center;
    background-color: rgb(231,248,255);
    width: 100%;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.logo img{
    width: 190px;
}

.btn {
    border: none;
    background: white;
    padding: 10px 38px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
    font-weight: 700;
    font-family: inherit;
}

.hero {
    display: flex;
    justify-content: space-around;
    margin: 4rem;
}

.hero-content {
    padding: 3.5rem;
}

.hero-content h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.hero-content p {
    font-size: 1.38rem;
    margin-bottom: 20px;
    font-weight: 400;
}

.hero-btn {
    border: none;
    background: hsl(322, 100%, 66%);
    padding: 14px 40px;
    border-radius: 32px;
    color: hsl(193, 100%, 96%);
    font-family: inherit;
    font-weight: 700;
    
}

.hero img {
    width: 45%;
} 

.main {
    width: 80%;
    margin: auto;
    padding-top: 150px; 
}

.column { 
    display: flex;
    justify-content: space-around;
    margin: 2rem;
    color: #2b2839;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
    background-color: white;
    border-radius: 15px;
    font-size: 30px;
    padding: 4rem;
}

.column h2 {
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.column p {
    font-size: 17px;
    color: hsl(208, 11%, 55%);
}

.column img {
    width: 40%;
}

.column-text {
    padding: 4rem;
    margin-top: 15px;  
}

.action {
    box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
    display: inline-block;
    padding: 3rem 6rem;
    text-align: center;
    position: relative;
    z-index: 1;
    left: 25%;
    top: 80px; 
    background: white; 
    border-radius: 10px;
}

.action-btn {
    border: none;
    background: hsl(322, 100%, 66%);
    padding: 14px 40px;
    border-radius: 32px;
    margin-top: 20px;
    color: hsl(193, 100%, 96%);
    font-family: inherit;
    font-weight: 700;
}

.footer {
    background: hsl(192, 100%, 9%);
    padding: 5rem;
}

.footer img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg)
    brightness(103%) contrast(103%); 

}

.location, .phone, .email {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem auto;
    color: white;
}

.white {
    color: white;
}